<h1>Welcome to Wiki Flicki Flame!</h1>
<div class="flex-stuff">
  <img src="/images/waka.jpg"><br/>
  <a href="/articles">Want to see our wares?</a>
  <a href="/users/<%= user %>/edit">Edit your information</a>
</div>
