<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wiki Fliki Flame</title>
  <script src="/scripts/jquery.js"></script>
  <link rel="stylesheet" href="/stylesheets/materialize/css/materialize.css">
  <script src="/stylesheets/materialize/js/materialize.js"></script>
</head>
<body>
  <%- body %>
</body>
</html>
