<h1>Create a new article</h1>
<form action="/articles" method="post">
  <label for="category">Category:</label><br/>
  <select name="article[category]" id="category">
    <option value="Code">Code</option>
    <option value="Food">Food</option>
    <option value="Fashion">Fashion</option>
    <option value="Science">Science</option>
    <option value="History">History</option>
    <option value="Movies">Movies</option>
    <option value="Politics">Politics</option>
    <option value="Philosophy">Philosophy</option>
    <option value="Architecture">Architecture</option>
    <option value="Life-Hacks">Life-Hacks</option>
  </select><br/>
  <div>
    <label for="author">Author:<br/></label>
    <input id="author" type="text" name="article[author]"><br/>
  </div>
  <div>
    <label for="title">Title:<br/></label>
    <input id="title" type="text" name="article[title]"><br/>
  </div>
  <fieldset>
    <div>
      <label for="section0">Section Title:<br/></label>
      <input id="section0" type="text" name="article[content][0][title]"><br/>
    </div>
    <div>
      <label for="section-content0">Section Content:<br/></label>
      <textarea id="section-content0" name="article[content][0][content]"></textarea><br/>
    </div>
  </fieldset>
  <div>
    <input id="new-section" type="submit" value="Add a section">
  </div>
  <div>
    <input type="submit">
  </div>
</form>
<script src="/scripts/newArticle.js" type="text/javascript"></script>
