body {
  background: aliceblue;
}

h1 {
  text-align: center;
  color: cornflowerblue;
}

.flex-stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  flex-grow: 0;
  padding: .2em;
  border: 3px solid black;
  border-radius: 5px;
}

a {
  color: black;
  text-decoration: none;
  transition: color .1s ease;
  background: lavender;
  padding: .5em;
  margin: .7em;
  border-radius: 5px;
  display: inline-block;
  width: auto;
}

a:hover {
  color: darkgoldenrod;
}

dl a{
  background: lightgreen;
}

dt {
  display: block;
}

div input, textarea, select {
  color: black;
  text-decoration: none;
  transition: color .1s ease;
  background: lavender;
  padding: .5em;
  margin: .7em;
  border-radius: 5px;
  display: inline-block;
  width: auto;
  border: none;
}

div input:hover, textarea:hover {
  color: darkgoldenrod;
}

h2 {
  display: block;
  color: darkblue;
  border-bottom: 1px solid black;
  width: 80%;
}

textarea, input {
  outline: none;
  width: auto;
}

input:focus, textarea:focus {
  color: darkgoldenrod;
}

#show-a {
  display: inline-block;
}

#show-form {
  display: inline-block;
}

#category {
  display: inline;
  font-size: 1em;
  text-decoration: none;
  border: none;
}

nav {
  display: flex;
  justify-content: space-around;
  background: beige;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

p {
  padding-left: .5em;
}

textarea {
  resize: none;
  width: 80%;
  height: 50vh;
}

.markdown {
  display: flex;
}

.markdown div {
  flex-shrink: 0;
  width: 50%;
}

.section h1 {
  font-size: 32px;
  font-weight: bold;
  color: black;
  text-align: left;
}

.section a {
  background: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 238);
  cursor: auto;
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

.section h2 {
  display: block;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  border-bottom: none;
}

.section p {
  padding-left: 0;
}
