<form action="/users/<%= user._id %>?_method=PATCH" method="post">
  <div class="input-field">
    <label for="name">Name:</label><br/>
    <input id="name" type="text" name="user[name]" value="<%= user.name %>"><br/>
  </div>
  <div class="input-field">
    <label for="username">Username:</label><br/>
    <input id="username" type="text" name="user[userName]" value="<%= user.userName %>"><br/>
  </div>
  <div class="input-field">
    <label for="password">Password:</label><br/>
    <input id="password" type="text" name="user[password]" placeholder="Please enter a new password"><br/>
  </div>
  <div class="input-field">
    <input class="waves-effect waves-light btn" type="submit">
  </div>
</form>
