<h1>Login</h1>
<form action="/users/login" method="post">
  <div class="input-field">
    <label for="username">Username:</label><br/>
    <input id="username" type="text" name="users[userName]"><br/>
  </div>
  <div class="input-field">
    <label for="password">Password:</label><br/>
    <input id="password" type="text" name="users[password]"><br/>
  </div>
  <div class="input-field">
    <input type="submit" value="Login">
  </div>
</form>
<a class="waves-effect waves-light btn" href="/users/new">Create a login</a>
