<h1>Login</h1>
<form class="flex-stuff" action="/users/login" method="post">
  <div>
    <label for="username">Username:</label><br/>
    <input id="username" type="text" name="users[userName]"><br/>
  </div>
  <div>
    <label for="password">Password:</label><br/>
    <input id="password" type="text" name="users[password]"><br/>
  </div>
  <div>
    <input type="submit" value="Login">
  </div>
  <a href="/users/new">Create a login</a>
</form>
